body{
    font-family: Poppins, serif;
    background: #f1f1f1 url(../images/concrete_seamless.png);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

.nav_item a:visited{
    color: blue;
}

.nav_item a:hover, a:focus{
    color: #50C7C7 !important;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }

.card {
    border-radius: 50px 50px 0px 0px;
    flex-basis: 450px;
}

.card > header{
    background: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px 50px 0px 0px;
  }

.pricing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#logo {
    animation-name: logo;
    animation-duration: 5s;
}

@keyframes logo{
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
}

@media screen and (min-width: 900px) {
    header{
        flex-direction: row;
        justify-content: space-between;
    }

    :not(.card):not(li) > header{
        position: sticky;
        top: 0;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
    }

    .card{
        flex-basis: 250px;
    }

}

@media (prefers-reduced-motion) {
    #logo{
        animation-name: none;
    }
}

@media print {
    body{
        background-image: none;
        font-family:Arial, Helvetica, sans-serif;
    }

    nav {
        width: 100%;
    }

    .nav_links {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_item{
        margin: auto;
    }

    .pricing{
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    .card{
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    .card > ul li:nth-child(2)::after{
        content: "👍";
    }

    .gallery, #gallery {
        display: none;
    }

}